// Global variables loaded for access in <style lang="stylus"> in vue component files.

// For colors see: https://vuetifyjs.com/en/style/colors
@require '~vuetify/src/stylus/settings/_colors.styl'
@require '~assets/colors.styl'